$fs-levels: 3;
$fs-interval: 0.2rem;
$fs-basis: 1.4rem;

@for $i from 1 through $fs-levels {
  .fs-l#{$i}{
    font-size: calc($fs-basis + $fs-interval * $i)
  }
};

// 

$padding-h:(xs: 1rem,
  sm: 1.6rem,
  md: 3.2rem,
  lg: 5rem);

@each $size,
$val in $padding-h {
  .pd-h-#{$size} {
    padding-left: #{$val};
    padding-right: #{$val};
  }
}
;

$padding-v:(xs: 1rem,
  sm: 1.6rem,
  md: 3.2rem,
  lg: 5rem);

@each $size,
$val in $padding-v {
  .pd-v-#{$size} {
    padding-top: #{$val};
    padding-bottom: #{$val};
  }
}
;